@charset "UTF-8";

/* Général */
:root {
  --font-default: "DM Sans", Arial, Helvetica, sans-serif;
  --font-slab: var(--font-default);
  --modal-duration: 0.8s;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.bground {
  display: none;
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(26, 39, 156, 0.4);
}

.content {
  margin: 7rem auto;
  width: 100%;
  max-width: 33.5rem;
  animation-name: modalopen;
  animation-duration: var(--modal-duration);
  /* background: #ff927a; */
  background: var(--secondaryBgColor);
  border-radius: 0.25rem;
  overflow: hidden;
  position: relative;
  /* color: #fafafa; */
  color: var(--tertiaryFontColor);
  padding: 1rem;
}

.modal__header {
  margin: 0 25px;
  color: var(--defaultFontColor);
  font-size: x-large;
}

.closeBtn {
  width: 25px;
  cursor: pointer;
}

.modal__photographerName {
  color: var(--defaultFontColor);
  font-size: xx-large;
  margin: 0 25px;
}

.modal-body {
  padding: 1.25rem 1.5rem;
}

label {
  color: var(--defaultFontColor);
  font-family: var(--font-default);
  font-size: 1.5rem;
  font-weight: normal;
  display: inline-block;
  margin-bottom: 0.625rem;
  margin-top: 0.625rem;
  margin-right: 1rem;
}

input,
textarea {
  padding: 0.5rem;
  border: 0.8px solid #ccc;
  outline: none;
  margin: 0;
  width: 100%;
  border-radius: 0.25rem;
  font-size: 1.25rem;
  height: 3rem;
  min-width: 100%;
  max-width: 100%;
}

#formValid {
  display: none;
}

.modalValidForm {
  position: relative;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 4;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  /* background-color: #ff927a; */
  background-color: var(--secondaryBgColor);
}

.modalValidForm h4,
.modalValidForm p {
  text-align: center;
  font-size: xxx-large;
}

.btn-submit,
.btn-signup,
.btn-closeModal {
  /* background: #901c1c; */
  background: var(--primaryBgColor);
  display: block;
  border-radius: 0.25rem;
  font-size: 1rem;
  padding: 0.75rem 3.25rem;
  /* color: #fafafa; */
  color: var(--tertiaryFontColor);
  cursor: pointer;
  border: 0;
  outline: 0;
  height: 70px;
}

.btn-submit {
  margin: 1rem 0;
}

.btn-submit:hover,
.btn-signup:hover,
.btn-closeModal:hover {
  /* background: #d3573c; */
  background: var(--secondaryBgColor);
  color: var(--defaultFontColor);
  color: var(--);
}

.btn-signup {
  outline: none;
  font-size: 1.6rem;
  padding: 1rem 1.5rem;
  margin: 0;
  margin-top: 3.75rem;
  z-index: 1;
}

.btn-closeModal {
  position: absolute;
  bottom: 5rem;
}

.formData[data-error]::after {
  content: attr(data-error);
  font-size: 1rem;
  font-weight: 600;
  color: red;
  display: block;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  text-align: left;
  opacity: 0;
  transition: 0.3s;
}

.formData[data-error-visible="true"]::after {
  opacity: 1;
}

.formData[data-error-visible="true"] .text-control {
  border: 0.25rem solid red;
}

#message {
  height: 10rem;
}

.close {
  position: absolute;
  right: 1rem;
  top: 1rem;
  width: 2rem;
  height: 2rem;
  opacity: 1;
  cursor: pointer;
  transform: scale(0.7);
}

.close::before,
.close::after {
  position: absolute;
  left: 1rem;
  content: " ";
  height: 2rem;
  width: 0.25rem;
  background-color: var(--tertiaryFontColor);
}

.close::before {
  transform: rotate(45deg);
}

.close::after {
  transform: rotate(-45deg);
}

@keyframes modalopen {
  from {
    opacity: 0;
    transform: translateY(-150px);
  }
  to {
    opacity: 1;
  }
}
