.dropdownMenu {
    background-color: darkcyan;
}

.photograph__media__sort {
    font-size: 1.125rem;
    font-weight: bold;
    display: flex;
    max-width: 30rem;
    z-index: 1;
    position: relative;
    /* display: inline-block; */
    width: 100%;
}

.photograph__media__sort li:hover {
    background-color: #d3573c;
    border-radius: 0.313rem;

}

#sortBy {
    padding: 1rem;
}

.dropdownBtn {
    /* background-color: var(--primaryBgColor);
    color: var(--tertiaryFontColor); */
    background-color: #901c1c;
    color: #fafafa;
    padding: 1rem 2rem;
    border: none;
    cursor: pointer;
    font-size: 1.125rem;
    font-weight: bold;
    border-radius: 0.313rem;
    display: flex;
    justify-content: space-between;
    width: 50%;

}

.dropdownBtn:hover,
.dropdownBtn:focus {
    background-color: #d3573c;
}

.dropdownContent {
    display: none;
    position: absolute;
    background-color: #901c1c;
    /* min-width: 160px;
    overflow: auto; */
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    transition: background-color 0.3s ease-in-out;
    /* width: 55%;
    right: 0; */
    border-radius: 0.313rem;
    left: 104px;
    width: 50%;
    top: 0;
    margin: 0;
    padding: 0;
}

.dropdownSelector__list__option {
    color: #fafafa;
    padding: 8px 32px 10px 16px;
    text-decoration: none;
    /* display: block; */
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
}

.dropdownSelector__list__option a {}

.fa-chevron-up:active {
    transition: transform 0.3s ease-in-out;
    transform: rotate(-180deg);
}

.fa-chevron-down:active {
    transition: transform 0.3s ease-in-out;
    transform: rotate(180deg);
}

.dropdownSelector__list__line {
    /* border: 0.125rem solid var(--tertiaryFontColor); */
    border: 0.125rem solid #fafafa;
    width: 85%;
    margin: 0 1rem;
}

.show {
    /* display: block; */
    display: flex;
    flex-direction: column;
    /* align-items: flex-start; */
}

/* ============================ */

.dropdownBtn2 {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdownBtn2:hover,
.dropdownBtn2:focus {
    background-color: #2980B9;
}

.photograph__media__sort2 {
    position: relative;
    display: inline-block;
}

.dropdownContent2 {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdownContent2 li {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.photograph__media__sort2 li:hover {
    background-color: #ddd;
}

.show2 {
    display: block;
}

/* Dropdown menu with pill styling
   ========================================================================== */
.cl-dropdown {
    display: inline-block;
    margin: 13px 0 26px 0;
    position: relative;
}

/* Button */
.cl-dropdown-button {
    font-size: 1rem;
    color: var(--text);
    border: 1px solid #cbd2db;
    border-radius: 2rem;
    background: #FFFFFF;
    padding: .37rem 1rem;
    margin-right: 6px;
    transition: all .2s;
}

.cl-dropdown-button:hover,
.cl-dropdown-button:focus {
    color: var(--links);
    border-color: var(--links);
}

.cl-dropdown-button-open {
    border-color: var(--links);
    box-shadow: 0 0 0 3px rgba(20, 46, 123, .2);
}

.cl-dropdown-button-active {
    color: var(--links);
    border-color: var(--links);
    background-color: rgba(20, 46, 123, 0.1);
}

/* Dropdown styling */
.cl-dropdown-menu {
    background-color: #FFFFFF;
    border: 1px solid #dee5ef;
    border-radius: 4px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    max-width: 350px;
    overflow-x: auto;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 0;
    z-index: 11;
    white-space: nowrap;
    transition: visibility 0s, opacity 0.1s ease, top 0.1s ease;
}

.cl-dropdown-visible {
    opacity: 1;
    visibility: visible;
    top: 38px;
}

/* Dropdown items */
.cl-dropdown-menu {
    padding: 26px 0;
}

.cl-dropdown-title {
    font-size: 1.3rem;
    color: var(--text);
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0 26px;
}

.cl-dropdown-items {
    list-style: none;
    padding: 0 26px;
    margin: 0;
    display: flex;
    flex-direction: column;
    max-height: 180px;
    overflow-y: auto;
}

.cl-dropdown-item {
    font-size: 1rem;
    display: block;
    margin-top: 13px;
}

.cl-dropdown-item:hover {
    text-decoration: none;
}

.cl-dropdown-input {
    margin-right: 4px;
}

.cl-dropdown-label {
    display: block;
    margin-bottom: 0;
    cursor: pointer;
    max-width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    padding-left: 2px;
}

/* Backdrop */
.cl-dropdown-backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    cursor: auto;
    z-index: 10;
}

/* Dropdown menu with pill styling
   ========================================================================== */
.cl-dropdown {
    display: inline-block;
    margin: 13px 0 26px 0;
    position: relative;
}

/* Button */
.cl-dropdown-button {
    font-size: 1rem;
    color: var(--text);
    border: 1px solid #cbd2db;
    border-radius: 2rem;
    background: #FFFFFF;
    padding: .37rem 1rem;
    margin-right: 6px;
    transition: all .2s;
}

.cl-dropdown-button:hover,
.cl-dropdown-button:focus {
    color: var(--links);
    border-color: var(--links);
}

.cl-dropdown-button-open {
    border-color: var(--links);
    box-shadow: 0 0 0 3px rgba(20, 46, 123, .2);
}

.cl-dropdown-button-active {
    color: var(--links);
    border-color: var(--links);
    background-color: rgba(20, 46, 123, 0.1);
}

/* Dropdown styling */
.cl-dropdown-menu {
    background-color: #FFFFFF;
    border: 1px solid #dee5ef;
    border-radius: 4px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    max-width: 350px;
    overflow-x: auto;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 0;
    z-index: 11;
    white-space: nowrap;
    transition: visibility 0s, opacity 0.1s ease, top 0.1s ease;
}

.cl-dropdown-visible {
    opacity: 1;
    visibility: visible;
    top: 38px;
}

/* Dropdown items */
.cl-dropdown-menu {
    padding: 26px 0;
}

.cl-dropdown-title {
    font-size: 1.3rem;
    color: var(--text);
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0 26px;
}

.cl-dropdown-items {
    list-style: none;
    padding: 0 26px;
    margin: 0;
    display: flex;
    flex-direction: column;
    max-height: 180px;
    overflow-y: auto;
}

.cl-dropdown-item {
    font-size: 1rem;
    display: block;
    margin-top: 13px;
}

.cl-dropdown-item:hover {
    text-decoration: none;
}

.cl-dropdown-input {
    margin-right: 4px;
}

.cl-dropdown-label {
    display: block;
    margin-bottom: 0;
    cursor: pointer;
    max-width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    padding-left: 2px;
}

/* Backdrop */
.cl-dropdown-backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    cursor: auto;
    z-index: 10;
}