.photographer_header__info {
  background-color: #fafafa;
  height: 300px;
  row-gap: 1rem;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
}

.photograph__media {
  margin: 0 3rem;
}

.photograph__gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  margin: 3rem;
}
