
#contact_modal {
    /* display: none; */
    position: fixed;
    top: 6%;
    left: 5%;
    right: 5%;
    bottom: 1%;
}

.modal {
    border-radius: 5px;
    background-color: var(--secondaryBgColor);
    width: 80vw;
    min-width: 300px;
    max-width: 600px;
    /* max-height: 700px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    row-gap: 1em;
    padding: 1em 2em;
    margin: auto;
}

.modal__header {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.closeBtn {
    cursor: pointer;
}


.modal__photographerName {
    margin: 0;
    padding: 0;
    font-size: 2.5em;
    font-weight: normal;
    flex-direction: row;
    display: block;
    text-align: left;
    width: 100%;
}


.formContact {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

.formInputs{

}
.formData{

}
.formData label {
    color: var(--dark-grey);
    font-size: 1.5em;
}

.formInputs {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 0;
}



.textControl {
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 5px;
    margin-bottom: 1.5em;
}

#message {
    height: 80px;
}

.contact_button {
    margin: 0;
    background-color: #312e2e;
    color: aliceblue;
    border-radius: 0.5rem;
}
.modal {
  border-radius: 5px;
  background-color: #db8876;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 35px;
  margin: auto;
}

.modal header {
  justify-content: space-between;
  width: 100%;
}

.modal header img {
  cursor: pointer;
}

.modal header h2 {
  font-size: 64px;
  font-weight: normal;
  text-align: center;
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

form label {
  color: #312e2e;
  font-size: 36px;
}

form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 26px;
}

form input {
  width: 100%;
  height: 68px;
  border: none;
  border-radius: 5px;
}

.formData[data-error-visible=true]::after {
  opacity: 1;
}

.formData[data-error-visible=true] .textControl {
  border: 0.25rem solid #e54858;
}

@media screen and (max-width: 768px) {

    #contact_modal {
        top: 5%;
        left: 5%;
        right: 5%;
        bottom: 5%;
    }

    .modal {
        max-height: 550px;
        align-items: center;
        justify-content: flex-start;
        height: 95%;
        width: 100%;
        margin: 0;
        padding: 1em 0;
    }

    .modal__header {
        width: 90%;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
    }

    .modal__header h2 {
        font-size: 1.6em;
        font-weight: bold;
    }


    .modal .closeBtn {
        height: 1.2em;
    }

    .formContact .formInputs {
        margin: 0;
    }

    .modal__photographerName {
        margin: 0;
        padding: 0;
        text-align: center;
    }

    .formContact {
        width: 90%;
    }

    .textControl {
        height: 30px;
    }

    #message {
        height: 50px;
    }

}