
#contact_modal {
    display: none;
    position: fixed;
    top: 6%;
    left: 5%;
    right: 5%;
    bottom: 1%;
}

.modal {
    border-radius: 5px;
    background-color: var(--secondaryBgColor);
    width: 80vw;
    min-width: 300px;
    max-width: 600px;
    /* max-height: 700px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    row-gap: 1em;
    padding: 1em 2em;
    margin: auto;
}

.modal header {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.modal header img {
    cursor: pointer;
}


.modal header h2 {
    margin: 0;
    padding: 0;
    font-size: 2.5em;
    font-weight: normal;
    flex-direction: row;
}


form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: var(--dark-grey);
    font-size: 1.5em;
}

form .form-inputs {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 0;
}

.modal h3 {
    display: block;
    text-align: left;
    width: 100%;
    font-size: 1.8em;
    margin: 0;
}

form input {
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 5px;
    margin-bottom: 1.5em;
}

form input#message {
    height: 80px;
}

.modal button {
    margin: 0;
}

@media screen and (max-width: 768px) {

    #contact_modal {
        top: 5%;
        left: 5%;
        right: 5%;
        bottom: 5%;
    }

    .modal {
        max-height: 550px;
        align-items: center;
        justify-content: flex-start;
        height: 95%;
        width: 100%;
        margin: 0;
        padding: 1em 0;
    }

    .modal header {
        width: 90%;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
    }

    .modal header h2 {
        font-size: 1.6em;
        font-weight: bold;
    }


    .modal .close-btn {
        height: 1.2em;
    }

    .modal form .form-inputs {
        margin: 0;
    }

    .modal h3 {
        margin: 0;
        padding: 0;
        text-align: center;
    }

    .modal form {
        width: 90%;
    }

    .modal form input {
        height: 30px;
    }

    .modal form input#message {
        height: 50px;
    }

}