* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

:root {
  --defaultBackgroundColor: white;
  --defaultFontColor: black;
  --primaryBgColor: #901c1c;
  --primaryFontColor: #d3573c;
  --secondaryBgColor: #d3573c;
  --secondaryFontColor: #525252;
  --tertiaryFontColor: #fafafa;
  --tertiaryBgColor: #DB8876;
  --fourthFontColor: #901c1c;
}

body {
  font-family: "DM Sans", sans-serif;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 3rem;
}

h1 {
  color: #901c1c;
}

ul {
  list-style: none;
}

.logo {
  height: 3.125rem;
}
