.photographer_header {
  background-color: var(--tertiaryFontColor);
  height: 300px;
  margin: 0 100px;
  padding: 0 2rem;
  row-gap: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  color: var(--primaryFontColor);
}

.photographer_header__info {
}
.photographer_header__name {
  color: var(--primaryFontColor);
  font-size: 4rem;
}
.photographer_header__location {
  color: var(--fourthFontColor);
  font-size: 2rem;
}
.photographer_header__text {
  color: var(--secondaryFontColor);
}

.photographer_header__portrait__img {
  border-radius: 50%;
  width: 12.5rem;
  height: 12.5rem;
  overflow: hidden;
  object-fit: cover;
}
