.photographerImg {
    height: 85%;
    width: 45%;
    min-height: 230px;
    min-width: 230px;
    border-radius : 50%;
    overflow: hidden;
    object-fit: cover;
}

.photographerName{
    color: var(--primaryFontColor);
    font-size: 1.5rem;
}